@import "src/constants&mixins";

.skillForm {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 10px;
  width: 100%;
  padding: 10px;
  border: $small-border;
  border-radius: 8px;
}

.skillFormItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  background-color: $medium-purple;
  border-radius: 8px;

  & input {
    width: 60px;
  }

  & label {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  & img {
    cursor: pointer;
  }
}

.primaryButton {
  @include primary-button;

  width: 10%;
  cursor: pointer;
}

.skillsBlock {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
  min-width: 100%;
  padding: 16px;
  overflow-y: auto;
  border: 1.5px solid $medium-purple;
  border-radius: 24px;
}

.tooltip {
  position: absolute;
  top: -20px;
  z-index: 999;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px;
  background-color: rgba($color: antiquewhite, $alpha: 80%);
  border-radius: 24px;

  & p {
    text-align: start;
  }
}

.skillsWrapper {
  position: relative;
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.skillChip {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 24px;
  padding: 0 8px;
  border-radius: 24px;
  cursor: pointer;

  &:hover {
    background-color: $cyan;
  }
}

.chevronWrapper {
  display: flex;
  justify-content: center;
  width: 20px;
  padding: 4px 0;
}

.chevron {
  width: 12px;
  height: 12px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  cursor: pointer;
  transform: rotate(45deg);
}

// -----------------------------------
.candidateSearchPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 100%;
}

.candidateSearchRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 100%;
}

.candidatePreviews {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  margin-top: 40px;
}

//   -------------------------
