.header {
  // margin-bottom: 5rem;
  font-family: Roboto, sans-serif;
}

.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 8rem;
  border-bottom: 1px solid #d9d9d9;
}

.header_top_location {
  display: flex;
  gap: 0.5rem;
  color: #697077;
  text-align: right;
}

.header_top_location::before {
  content: url("../../assets/location.svg");
}

// ------------ user
.header_top_user {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  width: 10rem;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.header_top_user::before {
  content: url("../../assets/icon-user.svg");
}

// ---------------------------------- drop_menu
.drop_down_profile {
  position: absolute;
  top: 2.5rem;
  right: -3.5rem;
  z-index: 10;
  display: none;
  width: 12rem;
  height: 10rem;
  background-color: #ffffff;
  border: 2px solid #8380b6;
  border-radius: 0.25rem;
  cursor: pointer;
}

.header_top_user:hover .drop_down_profile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.header_user_drpop_down_link {
  position: relative;
  display: flex;
  gap: 0.5rem;
  height: 2rem;
  padding-block: 1rem;
  color: #000000;
  font-size: 0.9rem;
  text-decoration: none;
}

.drop_down_profile::before {
  content: "";
  position: absolute;
  top: -0.35rem;
  left: 1rem;
  width: 0.5rem;
  height: 0.5rem;
  background-color: white;
  border-top: 2px solid #8380b6;
  border-left: 2px solid #8380b6;
  transform: rotate(45deg);
}

.header_user_drpop_down_exit {
  padding-left: 0;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.header_user_drpop_down_exit::after {
  content: url("../../assets/icon-exit.svg");
}

// ---------------------------------- header_title_notification
.header_title_notification {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_title {
  flex-grow: 1;
  color: #000000;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 28px;
  letter-spacing: 0.15px;
  text-align: center;
  padding-block: 0.8rem;
}

.header_notification {
  position: absolute;
  right: 1.2rem;
  min-width: 33rem;
  padding: 0.6rem 0.75rem;
  text-align: center;
  background-color: #ffd54f;
  border-radius: 0.25rem;
}

.header_notification_message {
  align-self: center;
  font-weight: 500;
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
}

.header_notification_link {
  align-self: center;
  font-weight: 400;
  font-size: 0.8rem;
  font-family: Roboto, sans-serif;
  text-decoration: underline;
}

.header_notification_link::after {
  // content: "▶";
  content: "\25B8";
  text-decoration: none;
}

.header_notification_inside {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

// ---------------------------------- header_link
.header_linksContainer {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.6rem 5rem;
  background-color: #c2cae8;
}

.header_link {
  padding-inline: 1rem;
  color: #21272a;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  text-align: left;
  text-decoration: none;
}

//   -----------------------header_buttons-bar
.header_top_buttonBar {
  display: flex;
  gap: 0.5rem;
}

.header_top_buttonBar_line {
  width: 1px;
  border-left: 1px solid #000000;
}

.header_top_button_signin {
  padding: 0.6rem;
  font-weight: 500;
  font-size: 0.9rem;
  font-family: Roboto, sans-serif;
  background-color: #8de3db;
  border: none;
  border-radius: 0.25rem;
}

.header_top_button_signup {
  padding: 0.6rem;
  font-weight: 500;
  font-size: 0.9rem;
  font-family: Roboto, sans-serif;
  background-color: white;
  border: none;
  border-radius: 0.25rem;
  box-shadow: none;
}
