$primary-purple: #574997;
$medium-purple: #8380b6;
$light-purple: #d6d8e1;
$cyan: #8de3db;
$dark-blue: #0f172a;
$text-color: #0f172a;
$secondary-text: #697077;
$white: #ffffff;
$gray: rgb(15 23 41 / 20%);
$small-border-radius: 2px;
$large-border-radius: 20px;
$small-border: 1px solid $medium-purple;
$large-border: 3px solid $primary-purple;
$border-width: 2px;

@mixin reset-button-styles {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &:focus {
    background: transparent;
    border: none;
    outline: none;
  }
}

@mixin info-text {
  margin: 0;
  color: #636b74;
  font-size: 0.75rem;
}

@mixin primary-button {
  width: 100%;
  padding: 0.562rem 0.718rem;
  color: $white;
  background: $primary-purple;
  border: 2px solid $primary-purple;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    color: $text-color;
    background: transparent;
  }

  &:disabled {
    color: $white;
    background: $gray;
    border: 1px solid $gray;
    cursor: auto;
  }
}

@mixin simple-button {
  width: 100%;
  padding: 0.562rem 0.718rem;
  color: $white;
  background: $dark-blue;
  border: 1px solid $dark-blue;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    color: $text-color;
    background: transparent;
  }

  &:disabled {
    color: $white;
    background: $gray;
    border: 1px solid $gray;
    cursor: auto;
  }
}

@mixin secondary-button {
  width: 100%;
  padding: 0.562rem 0.718rem;
  color: $text-color;
  background: $white;
  border: 1px solid $primary-purple;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    color: $white;
    background: $light-purple;
    border: 1px solid $light-purple;
  }

  &:disabled {
    color: $text-color;
    background: $gray;
    border: 1px solid $gray;
    cursor: auto;
  }
}

@mixin scroll-bar {
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: $white;
  }

  ::-webkit-scrollbar-thumb {
    width: 5px;
    background: $medium-purple;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $primary-purple;
  }
}
