@import "src/constants&mixins";

.main_user_settings_change_password {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  //   margin-bottom: 2rem;
  padding: 1rem 1.5rem 2rem;
  overflow: hidden;
  border: 1px solid $medium-purple;
  border-radius: 1.25rem;
}

.main_user_settings_title_notification {
  width: 50.4rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  font-weight: 500;
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  line-height: 1.75rem;
  border-bottom: 1px solid $dark-blue;
}

.submitChangePassword {
  align-self: end;
  float: right;
  width: 12rem;
  margin: 0.75rem 0;
  padding: 0.562rem 0.718rem;
  background: $primary-purple;
  border: 2px solid $primary-purple;
  border-radius: 4px;
  cursor: pointer;

  &,
  & * {
    color: $white;
    text-decoration: none;
  }

  &:hover {
    background: transparent;

    &,
    & * {
      color: $text-color;
    }
  }

  &:disabled {
    background: $gray;
    border: 1px solid $gray;
  }
}
