@import "src/constants&mixins";

.main_skill_settings_container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 53.6rem;
}

.main_skill_settings_exist {
  display: inline-block;
  align-content: space-between;
  gap: 0.4rem;
  padding: 1rem;
  overflow: hidden;
  text-align: justify;
  border: 1px solid $medium-purple;
  border-radius: 1.25rem;
}

.main_skill_settings_exist_container {
  display: flex;
  gap: 0.2rem;
  padding: 1rem;
  overflow: hidden;
  border: 1px solid $medium-purple;
  border-radius: 1.25rem;
}

.chevron {
  align-self: end;
  float: right;
  width: 12px;
  height: 12px;
  margin-right: 1rem;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  cursor: pointer;
  transform: rotate(45deg);
}

.skillChip {
  display: inline-block;
  height: 1.5rem;
  margin: 0.2rem;
  padding: 0.2rem 0.5rem;
  line-height: 1.12rem;
  border-radius: 24px;
  cursor: pointer;

  &:hover {
    background-color: $cyan;
  }
}

.existingSkill {
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  font-family: Inter, sans-serif;
  background-color: #c2cae8;
}

.noExistingSkill {
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  font-family: Inter, sans-serif;
  line-height: 18px;
  background-color: #c2cae8;
}

.closeIcon {
  margin-left: 0.5rem;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    color: $dark-blue;
  }
}

.roleSelectionContainer {
  padding: 1rem 1.5rem 2rem;
  overflow: hidden;
  border: 1px solid $medium-purple;
  border-radius: 1.25rem;
}

.main_skill_settings {
  padding: 1rem 1.5rem 2rem;
  border: 1px solid $medium-purple;
  border-radius: 1.25rem;
}

.main_skill_settings_title {
  width: 50.4rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  font-weight: 500;
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  line-height: 1.75rem;
  border-bottom: 1px solid $dark-blue;
}

.submitButtonSkill {
  float: right;
  width: 12rem;
  margin: 0.75rem 0;
  padding: 0.562rem 0.718rem;
  background: $primary-purple;
  border: 2px solid $primary-purple;
  border-radius: 4px;
  cursor: pointer;

  &,
  & * {
    color: $white;
    text-decoration: none;
  }

  &:hover {
    background: transparent;

    &,
    & * {
      color: $text-color;
    }
  }

  &:disabled {
    background: $gray;
    border: 1px solid $gray;
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem 1rem;
  color: $text-color;
  font-weight: 500;
  font-size: 1rem;
  font-family: Inter, sans-serif;
  text-align: left;
  text-decoration: none;
  background: none;
  background: $white;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;

  &:focus,
  &:active {
    border: none;
    outline: none;
    box-shadow: none;
  }
}

.activeLink {
  background: $cyan;
}

.icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.6rem;
}

.label {
  display: flex;
  align-items: center;
  width: 9.4rem;
}

// ------------------------------------button
.submitButton {
  margin: 0.75rem 0;

  @include primary-button;
}

// ------------------------------skills

.skillsBlock {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
  min-width: 100%;
  padding: 16px;
  overflow-y: auto;
  border: 1.5px solid $medium-purple;
  border-radius: 24px;
}
